:root {
    --color1: rgb(238, 175, 97);
    --color2: rgb(251, 144, 98);
    --color3: rgb(238, 93, 108);
    --color4: rgb(206, 73, 147);
    --color5: rgb(106, 13, 131);

    --color5_opacity: rgba(106, 13, 131, 0.3);

}

body {
    text-align: center;
    background-image: linear-gradient(to top, var(--color3) 0%, var(--color5) 100%);

}
/*PC monitor */
@media (min-width: 1500px) {
    section {
        min-height: 98.8vh;
    }

    .hlavni_nadpis {
        font-size: 110px;
    }

    .ramecek_vysledek {
        max-width: fit-content;
    }

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hlavni {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.hlavni_nadpis {

    font-family: 'Bungee Shade', sans-serif;
    color: var(--color5);
    text-shadow: 2px 5px var(--color3);
}


#stupne {
    border-radius: 20px;
    border: none;
    background-color: var(--color1);
    box-shadow: 2px 5px var(--color3);
    font-size: 25px;
    width: 550px;
    height: 50px;
    text-align: center;
    font-family: 'DynaPuff', sans-serif;
}

#stupne::placeholder {
    color: var(--color4);
}


input[type='submit'] {
    height: 50px;
    width: 180px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 5px var(--color5);
    background-color: var(--color4);
    font-size: 25px;
    font-family: 'DynaPuff', sans-serif;
    color: var(--color5);
}

.ramecek_vysledek {
    background-color: var(--color5_opacity);
    width: max-content;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 40px;
    font-family: 'Honk';
    border-radius: 55px 5px;
}

.validace {
    display: flex;
    flex-direction: row;
}
/* mobil */
@media(max-width: 500px) {
    body {
        display: flex;
        min-height: 98vh;
    }

    .hlavni_nadpis {
        font-size: 60px;
    }

    #stupne {
        width: fit-content;
    }

    .vysledek {
        font-size: larger;
    }

    .ramecek_vysledek {
        max-width: fit-content;
    }
}
