:root {
    --color1: #eeaf61;
    --color2: #fb9062;
    --color3: #ee5d6c;
    --color4: #ce4993;
    --color5: #6a0d83;

}

body {
    text-align: center;
    background-color: var(--color3);
}

section {
    margin: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hlavni {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hlavni_nadpis {
    font-size: 80px;
    font-family: 'Bungee Shade', sans-serif;
}

.bungee-shade-regular {
  font-family: "Bungee Shade", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--color5);
}


#stupne {
    border-radius: 10px;
    border: var(--color5);
    box-shadow: 0px 3px 15px var(--color2);
}

.ramecek_vysledek {
    background-color: red;
}